<style>
    .dish-info {
    	position:absolute;
        z-index: 2;
        bottom:48px;
        top:0;
        left:0;
        width:100%;
    }

    .dish-views{
        background-color: #F3E8D2;
        padding-bottom: 15px;
        border-down: 2px solid #DDCFB4 ;
    }

    .image_iart{
        margin: 0 auto;
        padding-top: 12px;
        text-align:center;
        height: 201px;
    }

    .image_iart img{
        border-top:1px solid #EEBAA1;
        border-left:1px solid #EEBAA1;
        border-right:1px solid #EEBAA1;
    }

    .tag_iart{
        margin: 0 auto;
        padding: 0;
        width: 298px;
        border: 2px solid #fff;
        background-color: #DFCFB5;
    }
    .tag_iart ul{
        margin: 0 auto;
        padding: 0;
        display:table;
    }

    .tag_iart ul > li{
        line-height: 20px;
        height: 20px;
        font-size:.9em;
        display:table-cell;
        color:#fff;
        text-align:center;
        padding: 0 1em;
    }
    i.icon {
color: #736C5E!important;
}

.content .tab-card{
    width: 100%;
    text-align:center;
    border-top:2px solid #DFCFB5;
    display:table;
    background-color: #F3E8D2;
}

.content .tab-card a{
    color:#222;
    text-decoration: none;
    display:table-cell;
}

.content .tab-card a.active{
    background-color: #92D050;
}

.content h2{
    font-size:16px;
    color:#B25154;
}

.order_block{
    margin: 0 auto;
    background-color: #F3E8D2;
    width: 70%;
    position:relative;
}
.order-list{
    display:inline-block;
    vertical-align: middle;
}

.order-list p{
    margin: 4px;
    margin-left: 42px;
}

.back{
    position:absolute;
    top:0;
    bottom:0;
    background-color: #92D050;
    padding-top: 20px;

}
.back a{
    height: 100%;
    line-height: 100%;
    color:#fff;
    text-decoration: none;
}

</style>
<div class="dish-info">
    <div class="dish-views">
        <div class="image_iart">
                        <img ng-src="img/{{dish.id}}.jpg" alt="">
        </div>
        <div class="tag_iart">
            <ul>
                <li>
                                <i ng-click="if_like(dish)" class="heart  icon"  ng-show="dish.favorite"></i>
                                <i ng-click="if_like(dish)" class="heart  empty icon"  ng-show="!dish.favorite"></i>
                    125                
                </li>
                <li>
                    <i class="share icon"></i>
                     50
                </li>
                <li>
                <i class="hand up icon"></i>
                15人点过</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="tab-card">
            <a href ng-class="{active: selected==1}" ng-click="selected=1" ng-init="selected=1">详情</a>
            <a htef ng-class="{active: selected==2}" ng-click="selected=2">评论</a>
        </div>
        <div id="description_tab" ng-show="selected == 1">
            <h2>
            {{dish.name}}
            </h2>
            <p>{{dish.content}}</p>
            <div class="order_block">
                <div class="order-list back">
                    <a href="#/menu">返回</a>
                </div>
                <div class="order-list">
             <p>{{dish.price}}元
             </p>   
             <p>
                会员{{dish.rebate}}折
             </p>
                </div>
             <div class="order-list">
                 <div class="order-iart-block">
                            <button class="iart" ng-click="addDish(dish)">+</button>
                            <span class="iart">
                            {{dish.count}}
                            </span>
                            <button class="iart" ng-click="subDish(dish)" >-</button>
                 </div>
             </div>
            </div>
        </div>
        <div id="comment_tab" ng-show="selected == 2">
            测试评论tab
        </div>

    </div>
</div>
