<div id="sidebar" ng-iscroll="sidebarScroll" ng-iscroll-delay="50">
    <div class="scroller">
            <ul id="categories" class="ui small fluid vertical menu">
                <li>
                <a ng-class="getClass('/menu/index')" href="#/menu/index" class="item" >
                    全部
                    </a>
                </li>
                <li ng-repeat="category in categories">
                <a ng-class="getClass('/menu/{{category.name}}')" href="#/menu/{{category.name}}" class="item" >
                        {{ category.name }}
                    </a>
                </li>
                <!--
                <li>
                    <a class="item">
                        <div class="ui red circular label">
                            10
                        </div>
                    新品
                    </a>
                </li>
                -->
            </ul>
    </div>
</div>
 <div id="wrapper" ng-iscroll='wrapper' ng-iscroll-delay='50'>
	<div id="scroller">
		<ul id="thelist">
            <li ng-repeat="dish in dishes">
                <div class="ui  connected items">
                    <div class="item">
                        <div class="image">
                            <img ng-src="img/{{dish.id}}.jpg" alt="">
                            <a ng-click="dish.favorite=if_like(dish)" class="heart ui corner label">
                                <i class="heart  icon"  ng-show="dish.favorite"></i>
                                <i class="heart  empty icon"  ng-show="!dish.favorite"></i>
                            </a>
                            <div class="ui ribbon label" >
      {{dish.count}}人已点
  </div>
                            
                        </div>
                        <div class="content">
                            <div class="name">
            <a href="#/dish/{{dish.id}}">
                                {{dish.name}}
            </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <p>{{dish.price}}元 会员{{dish.rebate}}折</p>
                            <p class="descriptiion">
                            <button class="iart" ng-click="addDish(dish)">+</button>
                            <span class="iart">{{dish.count}}</span>
                            <button class="iart" ng-click="subDish(dish)" >-</button>
                            </p>
                            <p>{{dish.snippet}}</p>
                        </div>
                    </div>
                </div>
            </li>
		</ul>
	</div>
</div>
<div id="order-info" style="display:{{ifDisplay}}" >
    <a href="#/order">
    已选 ({{totalcount}}单品 共{{ totalprice }}元)
    </a>

</div>


