<style>
.msg
{
	background:#D9D4BC;
	height:80%;
	width:90%;
	position:absolute;
	top:0px;
}
.all_msg
{
	width:93%;
	margin:0px auto;
}
.ui.corner.label
{
	top:80% !important;
	
}
.ui.corner.label:after
{
	border:0px !important;
}
.orders_show
{
	position:absolute !important;
	top:0px !important;
	left:40%;
	width:60%;
	text-align:center;
	background:#B90000 !important;
	padding-left:0px;
	height:25%;
	line-height:25%;
	border-radius:3px;
	font-size:12px;
	color:white;
}
.in_orders
{
	padding:2px;
}
.ng-binding
{
	margin:0px !important;
}
.descriptiion
{
	margin:1% !important;
}
.ng-binding 
{
	margin-top:10% !important;
}
.item
{
	position:relative;
}
</style>
<div id="sidebar" ng-iscroll="sidebarScroll" ng-iscroll-delay="50">
    <div class="scroller">
            <ul id="categories" class="ui small fluid vertical menu">
                <li>
                <a ng-class="getClass('/menu/index')" href="#/menu/index" class="item" >
                    全部
                    </a>
                </li>
                <li ng-repeat="category in categories">
                <a ng-class="getClass('/menu/{{category.name}}')" href="#/menu/{{category.name}}" class="item" >
                        {{ category.name }}
                    </a>
                </li>
                <!--
                <li>
                    <a class="item">
                        <div class="ui red circular label">
                            10
                        </div>
                    新品
                    </a>
                </li>
                -->
            </ul>
    </div>
</div>
 <div id="wrapper" ng-iscroll='wrapper' ng-iscroll-delay='50'>
	<div id="scroller">
		<ul id="thelist">
            <li ng-repeat="dish in dishes">
                <div class="ui  connected items">
                    <div class="item">
                        <div class="image">
                            <img ng-src="img/{{dish.id}}.jpg" alt="">
                            <a ng-click="dish.favorite=if_like(dish)" class="heart ui corner label">
                                <i class="heart  icon"  ng-show="dish.favorite"></i>
                                <i class="heart  empty icon"  ng-show="!dish.favorite"></i>
                            </a>            
                        </div>
                        <div class="orders_show" ng-show="dish.orderscount > 0" ><div class="in_orders" style="font-size:.8em;">点过{{dish.orderscount}}次</div></div>
                        <div class="content">
                            <div class="name">
            <a href="#/dish/{{dish.id}}">
                                {{dish.name}}
            </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="msg">
							<div class="all_msg">
                                <p style="font-size:.9em;">{{dish.price}}元 <span ng-show="dish.rebate<100">会员{{(dish.rebate * 0.1).toFixed(1)}}折</span><span ng-show="dish.rebate==100">无特价</span></p>
                            	<p class="descriptiion">
                            	<button class="iart" ng-click="addDish(dish)">+</button>
                            	<span class="iart">{{dish.count}}</span>
                            	<button class="iart" ng-click="subDish(dish)" >-</button>
                            	</p>
                            	<p>{{dish.snippet}}</p>
                        	</div>
						</div>
                    </div>
                </div>
            </li>
		</ul>
	</div>
</div>
<div id="order-info" style="display:{{ifDisplay}}" >
    <a href="#/order">
    已选 ({{totalcount}}单品 共{{ totalprice }}元)
    </a>

</div>


