<style>

    .totalOrder{
        padding-bottom: 2px;
    }
    .totalOrder p{
        margin: 0;
        padding: 0;
        text-align: left;
        width: 70%;
    }
    .totalOrder.info{
    border-bottom:1px solid #4A7EBB;
    }


    #orderconfirm{
        position: absolute;
z-index: 2;
top:0;
left: 0;
bottom:49px;
width: 100%;
padding: 0;
text-align: center;

        background-color: #DCE6F2;
        *zoom: 1;
    }
    #orderconfirm:after,#orderconfirm:before{
        display: table;
    content: "";
    line-height: 0;
    }
    #orderconfirm:after{
        clear:both;
    }
    .header{
        position: absolute;
z-index: 2;
top:0;
left: 0;
width: 100%;
height: 48px;
padding: 0;
text-align: center;
    }

    .header h2{
        margin: 0;
    }
    #order-header{
	position:absolute; z-index:1;
    left:10%;top:48px;
	width:80%;
    height: 25px;
	overflow:auto;
    border-bottom:1px solid #4A7EBB;
    color:#fff;
    }

    #orderWrapper{
	position:absolute; z-index:1;
    left:10%;bottom:98px;top:70px;
	width:80%;
	overflow:auto;
    }
    #submit{
	position:absolute; z-index:1;
    left:10%;bottom:0;
	width:80%;
    height:128px;
	overflow:auto;
    border-top:1px solid #4A7EBB;
    }
    ul#order{
        list-style:none;
        margin: 0;
        padding: 0;
    }
    .order-row{
        width: 100%;
        display:table;
    }
    .clearfix:after{
        clear:both;
    }
    .order-column{
        display:table-cell;
        text-align:center;
    }

    .order-element{
        width: 1%;
    }
    #orderconfirm{
        background-color: #DCE6F2;
    }

    .totalOrder{
        height: 30%;
		width:100%;
    }
	.iArt-button
	{
		width:35% !important;
	}
</style>
<div id="orderconfirm">
<div class="header">
    <h2>已选菜品</h2>
</div>
<div id="order-header"  class="order-row">
    <div class="order-column order-element">菜品名称</div>
    <div class="order-column order-element">折后价</div>
    <div class="order-column order-element">数量</div>
</div>
<div id="orderWrapper" ng-iscroll="orderWrapper" ng-iscroll-delay='50'>
    <div id="scroller">
        <div id="ifOrderEmpty" style="display:{{ifOrderEmpty}};width:100%;text-align:center;">
            <a href="#/menu">请前往菜单页点菜</a>
        </div>
        <ul id="order" class="clearfix">
            <li>
            </li>
            <li ng-repeat="oIa in order track by $index">
                <div class="order-row">
                    <div class="order-column order-element">{{oIa.name}}</div>
                    <div class="order-column order-element">{{oIa.price}}</div>
                    <div class="order-column order-element">
                            <button class="iart" ng-click="addDish(oIa)" ng-init="count=0">+</button>
                            <span class="iart">{{oIa.count}}</span>
                            <button class="iart" ng-click="subDish(oIa)" >-</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="submit">
    <div class="totalOrder total">合计：{{  totalprice }}元</div>
    <div class="totalOrder info" style="position:relative;" ng-show="address!='n'">
        <p>
        电话：{{address.phone}}
        </p>
        <p>
        地址：{{address.address}}
        </p>
        <a style="position:absolute;right:0;top:0;" href="#/address">修改</a>
    </div>
    <div class="totalOrder">
        
        <button class="iArt-button" ng-click="pushOrder()" ng-show="address!='n'">提交</button>
        <a class="iArt-button" href="#/address" ng-show="address=='n'">填写地址</a>
        <button class="iArt-button" href="#/menu">继续选择</button>
    </div>
</div>
</div>
